@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserratalternates-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserratalternates-semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6871rem + 0.0365vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8143rem + 0.0952vw, 0.9rem);
  --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1411rem + 0.2946vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3492rem + 0.454vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5939rem + 0.6704vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8813rem + 0.9614vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.2183rem + 1.3499vw, 3.4332rem);
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4821rem + 0.0893vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --space-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8571rem + 0.7143vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.7857rem + 1.0714vw, 6.75rem);

  --brand-font: "Montserrat", -apple-system, BlinkMacSystemFont, avenir next, helvetica neue, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  --brand-cyan: oklch(70.8% 0.1488 234.36);
  --brand-orange: oklch(75.5% 0.1445 83.5);
  --brand-chartreuse: oklch(79.47% 0.1596 109.94);
  --brand-black: oklch(0% 0 0);
  --brand-gray: oklch(88.53% 0 0);
  --brand-black: oklch(0% 0 0);
  --brand-white: oklch(100% 0 0);
  --border-radius: 8px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--brand-font);
  font-size: var(--step-0);
}

.content-width {
  width: 100%;
  max-width: 60em;
  margin-inline: auto;
}

section {
  margin-block-end: var(--space-l);
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  line-height: 1.39;
}

header div {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  padding-block: var(--space-m);
}

@media screen and (max-width: 1140px) {
  header div {
    padding-inline: var(--space-l);
  }

  section div {
    padding-inline: var(--space-l);
  }
}

header img {
  max-width: 6em;
}

header nav {
  display: flex;
  gap: var(--space-m);
  font-weight: bold;
}

.hero {
  padding-block: var(--space-l);
  text-align: center;
}

.hero h2 {
  font-size: var(--step-5);
  margin-block-end: var(--space-m);
}

.products h2 {
  font-size: var(--step-3);
  margin-block-end: var(--space-m);
  color: var(--brand-orange);
  text-align: center;
}

.product-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  margin-block-end: var(--space-xl);
}

@media screen and (max-width: 725px) {
  .product-images {
    flex-direction: column;
  }
}

.badge-store {
  max-width: 10em;
}

.product-pricing {
  text-align: center;
}

.product-pricing h3 {
  font-size: var(--step-2);
  margin-block-end: var(--space-s);
}

.product-pricing h3 + p {
  margin-block-end: var(--space-l);
}

.pricing-subscription {
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-black);
  padding: var(--space-m);
  margin-block-end: var(--space-xl);
}

.pricing-subscription p:first-of-type {
  font-weight: bold;
  margin-block-end: var(--space-2xs);
}

.pricing-subscription p:nth-of-type(2) {
  font-weight: bold;
  font-size: var(--step-4);
  margin-block-end: var(--space-2xs);
}

.pricing-subscription p:nth-of-type(3) {
  margin-block-end: var(--space-m);
}

.pricing-subscription ul {
  list-style: none;
}

.pricing-subscription li {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  margin-block-end: var(--space-s);
  max-width: max-content;
  margin-inline: auto;
}

.pricing-subscription li::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 78.369 78.369"><path d="M78.049 19.015 29.458 67.606a1.094 1.094 0 0 1-1.548 0L.32 40.015a1.094 1.094 0 0 1 0-1.547l6.704-6.704a1.095 1.095 0 0 1 1.548 0l20.113 20.112 41.113-41.113a1.095 1.095 0 0 1 1.548 0l6.703 6.704a1.094 1.094 0 0 1 0 1.548z"/></svg>');
  width: 1em;
  height: 1em;
  display: inline;
}

.personal-info {
  background-color: var(--brand-gray);
  padding-block: var(--space-xl);
}

.info-privacy {
  border-radius: var(--border-radius);
  background-color: #a4a3a3;
  padding: var(--space-3xl) var(--space-xl);
  position: relative;
  z-index: 1;
  transform: rotate(2deg);
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

@media screen and (max-width: 725px) {
  .info-privacy {
    flex-direction: column;
  }
}

.info-privacy::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--brand-cyan);
  transform: rotate(-2deg);
  border-radius: var(--border-radius);
  z-index: -1;
}

.info-privacy > div {
  transform: rotate(-2deg);
}

.info-privacy p:first-of-type {
  font-size: var(--step-2);
  font-weight: bold;
  margin-block-end: var(--space-s);
}

.btn {
  border-radius: 3em;
  flex: none;
  background-color: var(--brand-white);
  padding: var(--space-xs) var(--space-s);
  transform: rotate(-2deg);
  color: var(--brand-orange);
  font-weight: bold;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}

.affordable-privacy {
  padding-block: var(--space-xl);
}

.affordable-privacy > div {
  display: flex;
  gap: var(--space-xl);
}

@media screen and (max-width: 959px) {
  .affordable-privacy > div {
    flex-direction: column;
  }
}

.affordable-privacy h3 {
  font-size: var(--step-2);
  margin-block-end: var(--space-s);
}

.affordable-privacy h3 + p {
  margin-block-end: var(--space-l);
}

.affordable-privacy ol {
  list-style: none;
}

.affordable-privacy li {
  padding: var(--space-xl);
  margin-block-end: var(--space-m);
  border-radius: var(--border-radius);
  counter-increment: section;
  position: relative;
}

.affordable-privacy li::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "0" counter(section);
  padding: var(--space-s);
  font-size: var(--step-3);
  font-weight: bold;
}

.affordable-privacy li:nth-of-type(3n - 2) {
  background-color: var(--brand-cyan);
}

.affordable-privacy li:nth-of-type(2) {
  background-color: var(--brand-chartreuse);
}

.affordable-privacy li:nth-of-type(3) {
  background-color: var(--brand-orange);
}

.affordable-privacy li h4 {
  font-size: var(--step-2);
  margin-block-end: var(--space-s);
}

@media screen and (min-width: 940px) {
  .affordable-privacy li h4 {
    white-space: nowrap;
  }

  .affordable-privacy li:nth-of-type(odd) {
    transform: rotate(-2deg);
  }

  .affordable-privacy li:nth-of-type(even) {
    transform: rotate(2deg);
  }
}

.affordable-privacy li p {
  font-size: var(--step--1);
  text-align: center;
}

.cantina-vpn {
  margin-block-end: var(--space-2xl);
}

.cantina-vpn > div {
  display: flex;
  gap: var(--space-xl);
  align-items: start;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .cantina-vpn > div {
    flex-direction: column;
    align-items: center;
  }
}

.cantina-vpn ul {
  list-style: none;
}

.cantina-vpn li {
  margin-block-end: var(--space-l);
}

.cantina-vpn h4 {
  font-size: var(--step-2);
  margin-block-end: var(--space-xs);
}

.about h2 {
  font-size: var(--step-3);
  margin-block-end: var(--space-s);
}

footer {
  padding-block-start: var(--space-l);
}

footer img {
  display: block;
  max-width: 20em;
  margin-inline: auto;
  margin-block-end: var(--space-l);
}

footer ul {
  display: flex;
  gap: var(--space-m);
  list-style: none;
  padding-block-start: var(--space-m);
  padding-inline: var(--space-m);
  border-block-start: 1px solid var(--brand-black);
}

@media screen and (max-width: 726px) {
  footer ul {
    flex-direction: column;
  }
}

footer li:first-of-type {
  margin-right: auto;
}

footer a {
  padding-block: var(--space-m);
}

.error {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--space-l));
}

.error main {
  text-align: center;
  flex: 1;
}

.error a {
  text-decoration: underline;
}
