.contact10-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-max-width {
  align-self: center;
}
.contact10-content1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.contact10-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact10-text1 {
  font-family: "Montserrat";
}
.contact10-text2 {
  font-family: "Montserrat";
}
.contact10-content3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.contact10-fragment1 {
  display: contents;
}
.contact10-text3 {
  display: inline-block;
}
.contact10-fragment2 {
  display: contents;
}
.contact10-text4 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact10-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact10-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .contact10-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
