.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero17-column {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: 196px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.hero17-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero17-text1 {
  font-family: "Montserrat";
}
.hero17-text2 {
  text-align: center;
  font-family: "Montserrat";
}
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
}
.hero17-text3 {
  font-size: 32px;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
.hero17-content2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 470px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.hero17-row-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.hero17-row-container2 {
  width: 100%;
}
.hero17-strip1 {
  height: 439px;
  align-items: center;
  justify-content: center;
}
.hero17-image1 {
  width: 200px;
  align-self: stretch;
  object-fit: cover;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero17-image2 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.hero17-image3 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.hero17-placeholder-image1 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image2 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image3 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image4 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image5 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image6 {
  width: 400px;
  height: 400px;
}
.hero17-container2 {
  display: contents;
}
.hero17-fragment1 {
  display: contents;
}
.hero17-text4 {
  display: inline-block;
}
.hero17-fragment2 {
  display: contents;
}
.hero17-text5 {
  display: inline-block;
}
.hero17-fragment3 {
  display: contents;
}
.hero17-text6 {
  display: inline-block;
}
@media(max-width: 767px) {
  .hero17-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button {
    width: 100%;
  }
}
