---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Cookies Policy">
  <main>
    <section>
      <div class="content-width">
        <h1>Cookies Policy</h1>
      </div>
    </section>
  </main>
</BaseLayout>
