---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Cookies Policy">
  <main>
    <section>
      <div class="content-width">
        <h1>Cookies Policy</h1>
        <br/>
        <p>
        Tricyrcle does not use cookies for its websites.
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
