---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Terms & Conditions">
  <main>
    <section>
      <div class="content-width">
        <h1>Terms & Conditions</h1>
      </div>
    </section>
  </main>
</BaseLayout>
